body {
    background-color: darkgray;
    color: black;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Norse";
    src: 
        url(fonts/Norse.woff2) format("woff2"),
        url(fonts/Norse.woff) format("woff");
    font-display: normal;
}

.sans {
    font-family: sans-serif;
}

.norse {
    font-family: "Norse";
}

#background{
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
}

#odinTextBlock {
    display: flex;
    position: absolute;
    color: white;
    height: 200px;
    width: auto;

}

.backgroundImg {
    height: 100%;
    width: 100%;
}

#user {
    flex: 1.5;
    display: flex;
    flex-direction: column;
}

.userForm {
    flex: 2;
}
.userDescription {
    flex: 1;
}

.userDescription {
    padding: 100px 200px 0px 50px;
    background-image: linear-gradient(to bottom, orange, white);

}

.userD1, .userD2 {
    font-size: 2rem;
}

.userForm {
    padding: 0px 0px 0px 0px;
}

label {
    display: block;
    font-size: 1rem;
}

form input {
    margin-right: 100px;
    margin-bottom: 20px;
}

.textAboveWidgets {
    padding: 0px 0px 0px 50px;
}

.userForm > form {
    display: flex;
    flex-flow: column wrap;
}

.form-controls {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 50px;
    background-color: coral;
    padding: 0px 200px 0px 50px;
}

.form-end {
    padding: 0px 0px 0px 50px;
}

.form-end p {
    margin-left: 0px;
}





/* Visual Outline Aid

#background,
#user {
    outline: 1px solid red; 
}

#user > div {
    outline: 1px solid red;
}
*/
