/* Universal */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
}

/* Adding Fonts */
@font-face {
    font-family: "Norse";
    src: 
        url(fonts/Norse.woff2) format("woff2"),
        url(fonts/Norse.woff) format("woff");
    font-display: normal;
}

/* Project Scaffold - Flexbox */

/* Body + 2 initial sections, flexbox used */

body {
    height: 100%;
    width: 100%;
    background-color: #363030;
    color: #FFFFFF;
    color: black;
    display: flex;
    flex-direction: row;
    font-family: 'Times New Roman', Times, serif;
}

#imgSidebar {
    /* background-color: #570F00; */
    flex: 1;
    position: relative;
}

#userInfo {
    /* background-color: #001B6B; */
    flex: 2;    
    position: relative;
}

/* Image Sidebar Section */

    /* Odin Text Block Flex */

    .odinTextBlock {
        display: flex;
        flex-direction: row;
    }

    /* General */

    .backgroundImg {
        display: block;
        height: 100%;
        width: 100%;

    }

    .odinTextBlock {
        background-color: rgb(0 0 0 / 50%);
        height: 15%;
        width: 100%;
        position: absolute;
        top: 20%;
        justify-content: center;
        align-items: center;
        color: white;
    }

    .odinTextImg {
        height: 100%;
        width: auto;
    }

    .odinText {
        font-family: "Norse";
        font-weight: bold;
        font-size: 5rem;
    }

    .textCredit {
        position: absolute;
        bottom: 1%;
        width: 100%;
        text-align: center;
        font-size: 0.75rem;
    }

    .textCredit > a {
        color: #FFFFFF;
    }

/* User Info Section Flex */

    #userInfo {
        display: flex;
        flex-direction: column;
    }

    .userIntro {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        /* background-color: #14FF49; */
        background-image: linear-gradient(to bottom, orange, 5%, white 50%, 95%, orange);

        flex: 1;
    }

    .userForm {
        /* background-color: #087525; */
        flex: 2;
    }

/* User Info Section General Styling */

    /* User Intro */
    .introMessage1 {
        font-size: 1.25rem;
        font-weight: bold;
        margin: 0px 200px 0px 50px;
    }

    .introMessage2 {
        font-size: 1.25rem;
        font-weight: bold;
        margin: 0px 200px 25px 50px;
    }

    .introMessage3 {
        font-size: 1.25rem;
        font-weight: bold;
        margin: 0px 200px 30px 50px;    }


/* User Form Section */

    /* Flex */

    .userForm {
        display: flex;
        flex-direction: column;
    }

    .formControls {
        background-color: #FFFFFF;
        flex: 1;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 3px 5px 0px #B7C9BC;
    }

    .formInputs {
        display: flex;
        flex-flow: row wrap;
    }

    .formEnd {
        /* background-color: #350C7A; */
        background-image: linear-gradient(to bottom, orange, 5%, white 50%, 95%, orange);
        flex: 1;
    }

    /* General Styling */

    .formControls {
        position: relative;
    }

    .formTitle {
        font-size: 1.25em;
        margin:15px 0px 15px 50px;
    }

    .formTitle > small {
        font-size: 0.75em;
        margin: 0px 0px 0px 15px;
    }

    .formInputs {
        margin: 0px 200px 0px 50px;
        flex: 1;
    }

    .inputContainer {
        width: 50%;
    }

        .inputContainer > label {
            display: block;
            font-size: 0.75rem;
            text-transform: uppercase;
            font-weight: bold;
        }

        .inputContainer > input {
            width: 60%;
            font-size: 1rem;
            padding: 3px;
            border-radius: 5px;
            outline: none;
        }

        .inputContainer > input:focus {
            border: 1px solid black;
            box-shadow: 1px 1px 5px #000000;
        }

        .inputContainer > input:user-valid {
            background-color: rgb(0 255 0 /10%);
        }

        .inputContainer > input:user-invalid {
            background-color: rgb(255 0 0 / 10%);
        }
    
    .formEnd {

    }

    .submitBtn {
        display: block;
        font: 1.1rem;
        font-weight: bold;
        margin: 30px 0px 30px 50px;
        padding: 1.5vh 3vw 1.5vh 3vw;
        background-color: #596D48;
        color: #FFFFFF;
        border: none;
        border-radius: 3px;
    }

    .endMessage1 {
        margin: 0px 0px 0px 50px;
    }