* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: darkgray;
    color: black;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#background a {
    color: white;
}

@font-face {
    font-family: "Norse";
    src: 
        url(fonts/Norse.woff2) format("woff2"),
        url(fonts/Norse.woff) format("woff");
    font-display: normal;
}

.sans {
    font-family: sans-serif;
}

.norse {
    font-family: "Norse";
}

#background{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

#odinTextBlock {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    width: 582.41px;
    height: 150px;
    top: 25%;
    background-color: rgb(255 186 0 / 10%);
    font-family: "Norse";
    font-size: 100px;
    font-weight: bold;
}



.textCredit {
    position: absolute;
    color: white;
    top: 95%;
    font-size: 0.8rem;
}

.textImg {
    height: 100%;
}

#odinTextBlock > .text {
    margin: 0;
}

.backgroundImg {
    height: 100%;
    width: 100%;
}

#user {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.userForm {
    flex: 1;
}
.userDescription {
    flex: 1;
}

.userDescription {
    background-image: linear-gradient(to bottom, orange, white 50%);

}

.userD1, .userD2 {
    font-size: 2rem;
    text-wrap-style: auto;
}

.userForm {
    padding: 0px 0px 0px 0px;
}

label {
    display: block;
    font-size: 1rem;
    text-transform: uppercase;
    font-size: 0.8rem;
}

form input {
    margin-right: 100px;
    margin-bottom: 20px;
    border: 1px solid lightgray;
    padding: 5px;
    border-radius: 5px;
    font-size: 1rem;
    width: 80%;
}

form input:focus {
    outline: none;
    border: 1px solid darkorange;
    box-shadow: 1px 1px 5px black;
}

form input:user-invalid {
    background-color: rgb(255 151 0 / 25%);
}

form input:user-valid {
    background-color: rgb(80 255 0 / 25%)
}

.textAboveWidgets {
    padding: 0px 0px 25px 50px;
    margin: 0;
    font-size: 2rem;
    background-color: white;
}

.textAboveWidgets > small {
    font-size: 1rem;
}

.userForm {
    display: flex;
    flex-flow: column wrap;
}

.form-controls {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 50px;
    background-color: white;
    padding: 0px 200px 0px 50px;
    margin: 0;
}

.form-end {
    flex: 1.2;
    padding: 0px 0px 0px 50px;
    background-image: linear-gradient(to bottom, white 50%, black);
    margin: 0;
    padding-top: 25px;
}

.form-end > button {
    background-color: #596D48;
    color: white;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.form-end a {
    text-decoration: none;
    color: #596D48;
    font-weight: bold;
}

.form-end p {
    margin-left: 0px;
}





/* Visual Outline Aid

#background,
#user {
    outline: 1px solid red; 
}

#user > div {
    outline: 1px solid red;
}
*/
